body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
}

.header {
    display:flex;
    justify-content: space-between;
    padding:0.7em 0;   
}

#score {
    margin-left: 1%;
}

#time {
    margin-right: 10%;
}

.quiz-container {
    margin: 5% 40%;
    padding:15px;
    text-align: center;
    width:400px;
}

.instructText {
    word-wrap: break-word;
}

#startQuiz {
    width: 100px;
    height:20px;
    background-color: blue;
    color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

#submission {
   text-align: left; 
}

#highScore {
    font-weight: bold;
}